{{ extends 'otree/WaitPage.html' }}

{{ block title }}

  Fin de ronda

{{ endblock }}

{{ block content }}

  <h3>Información</h3>  
  <p>Caso {{ player.caso }}</p>
  <p>Organo A: {{ if player.organo_a_funcional }} Funcional {{ else }}Fallo{{ endif }}</p>
  <p>Organo B: {{ if player.organo_b_funcional }} Funcional {{ else }}Fallo{{ endif }}</p>
  <p>Turnos en lista de espera: {{ player.turnos_en_espera }}</p>
  <p>Recibió donación: {{ if player.donacion_previa }} Sí {{ else }} No {{ endif }}</p>
  <p>El pago obtenido en esta ronda es: {{ player.pago }}</p>

  <p>Causa muerte: 
    {{ if not player.organo_a_funcional }} Muerte instantánea por fallo en el órgano A
    {{ elif player.donacion_previa }} Ya no puede recibir más donaciones
    {{ elif player.turnos_en_espera }} No recibió donación a tiempo
    {{ endif }}
  </p>

{{ endblock }}
