{{ extends 'otree/WaitPage.html' }}

{{ block title }}

  FIN DE LA RONDA

{{ endblock }}

{{ block content }}

  <h3>Estos son los resultados:</h3>  
  <ul>
  <li>Caso {{ player.caso }}</li>
  <li>Organo A: {{ if player.organo_a_funcional }} Funcional {{ else }}Fallo{{ endif }}</li>
  <li>Organo B: {{ if player.organo_b_funcional }} Funcional {{ else }}Fallo{{ endif }}</li>
  <li>Turnos en lista de espera: {{ player.turnos_en_espera }}</li>
  <li>Recibió donación: {{ if player.donacion_previa }} Sí {{ else }} No {{ endif }}</li>
  <li>El pago obtenido en esta ronda es: {{ player.pago }}</li>

  <li>Causa muerte: 
    {{ if not player.organo_a_funcional }} Muerte instantánea por fallo en el órgano A
    {{ elif player.donacion_previa }} Ya no puede recibir más donaciones
    {{ elif player.turnos_en_espera }} No recibió donación a tiempo
    {{ endif }}
  </li>
</ul>
{{ endblock }}
