{{ block title }}

  <h1>Ronda {{ ronda }}, Periodo {{ player.group.turno }}</h1>

{{ endblock }}

{{ block content }}

  <h2>TE ENCUENTRAS EN LA LISTA DE ESPERA DE DONACIÓN DE ÓRGANOS</h2>  
  <ul>
  <li>Caso {{ player.caso }}</li>
  <li>Total de donaciones disponibles: {{ player.group.donaciones }}</li>  
  <li>Organo A: {{ if player.organo_a_funcional }} Funcional {{ else }} Fallo {{ endif }}</li>
  <li>Organo B: {{ if player.organo_b_funcional }} Funcional {{ else }} Fallo {{ endif }}</li>
  <li>Turnos en lista de espera: {{player.turnos_en_espera}}</li>
</ul>
  <p>Por favor, espera un momento mientras los demás jugadores toman sus decisiones.</p>

  
  {{ next_button }}

{{ endblock }}
