{{ block title }}

  <h1>Ronda {{ player.group.ronda }}, Periodo {{ player.group.turno }}</h1>

{{ endblock }}

{{ block content }}

    {{ if player.caso == "" }}
    <p>Información inicial</p>
  {{ else }}
  <h2>Caso {{ player.caso }}</h2> 
  {{ endif }}
  <ul>
  <li>Total de donaciones disponibles: {{ player.group.donaciones }}</li>  
  <li>Condición de DONANTE: {{ if player.es_donante }} Sí {{ else }} No {{ endif }}</li>
  <li>Órgano A: {{ if player.organo_a_funcional }} Funcional {{ else }} Fallo {{ endif }}</li>
  <li>Órgano B: {{ if player.organo_b_funcional }} Funcional {{ else }} Fallo {{ endif }}</li>
  <li>Estuvo en lista de espera: {{ if player.en_lista_espera }} Sí {{ else }} No {{ endif }}</li>
  <li>Tuvo una donación previa: {{ if player.donacion_previa }} Sí {{ else }} No {{ endif }}</li>
  </ul>
  {{ next_button }}

{{ endblock }}
